__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.pt
*.pkl
*.log
.DS_Store
*.db
*.sqlite3
*.sqlite
.vscode/
.idea/
*.swp
*.swo
*~
node_modules
blind_stick.py
blind_stick_app.py
blind_stick_app1.py
blind_stick_apps.py
template.html
mp2.txt
packages.txt
package.json
package-lock.json
test.jpg
